@keyframes fadeIn {
    0% {
        opacity: 0
    }
    60% {
        opacity: 0;
        transform: scale(0.8)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

#componentPrincipal{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    mat-toolbar{
        background: #cccccc;
        .iconesConfig{
            right: 5%;
            position: absolute;
            mat-icon{
                font-size: 184%;
            }
        }
        .sair{
            position: absolute;
            right: 1%;
        }
    }
    .menu{
        width: 15%;
        position: absolute;
        z-index: 100;
        .open{
            animation: fadeIn .5s ease-in;
            animation-fill-mode: forwards;
            animation-duration: 0.3s;
            Button{
                width: 100%;
            }
           
        }
        .none{
            
            display: none;
            animation: fadeIn .5s ease;
            animation-fill-mode: both;
            animation-duration: 1.5s;
        }
    }
    .DashBoard{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }  
 
    .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
        color: #212529;
        background-color: white !important;
        border-color: white !important;
    }
}


