#home {
    z-index: 5;
    margin-top: 4%;
    .fil{
        width: 29%;
        padding-left: 4%;
        padding-right: 2%;
    }
    .pad{
        padding-left: 2%;
    }
    .padR{
        padding-right: 2%;
    }
    .table{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3%;
    }
    .example-container {
        height: 400px;
        overflow: auto;
      }
      
      table {
        width: 100%;
      }
      .imprimir{
        right: 5%;
        position: absolute;
      }
}
